 * {
     margin: 0;
     padding: 0;
 }

 body {
     background-color: rgb(0, 0, 0);
 }

 .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 40%;
     margin-top: auto;
     margin-bottom: auto;
 }

 .navbar {
     display: flex;
     align-items: center;
     justify-content: center;
     position: sticky;
     top: 0;
     cursor: pointer;
 }

 .background {
     background: rgb(0, 0, 0);
     background-blend-mode: darken;
     background-size: cover;
 }

 .nav-list {
     width: 90%;
     display: flex;
     align-items: center;
 }

 .logo {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .logo img {
     width: 65px;

 }

 .nav-list li {
     list-style: none;
     padding: 30px 40px;
 }

 .nav-list li a {
     text-decoration: none;
     color: aliceblue;
 }

 .nav-list li a:hover {
     color: grey;
 }

 .text-footer {
     text-align: center;
     padding: 30px 0;
     display: flex;
     justify-content: center;
     color: white;
 }

 .nav {
  position: relative;
  padding: 1em;
}

.nav__pointer {
  z-index: 1;
  position: absolute;
  top: 0.6em;
  left: 1em;
  background-color: #9b9b9b;
  height: 1.8em;
  transition: transform 0.25s ease-in-out;
  border-radius: 0.3em;
  will-change: transform;
  backface-visibility: hidden;
}

.nav__list {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}